* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #222;
  --color-black-light: #333333;
  --color-gray: #f2f2f2;
  --color-metadata: #595959;
  --color-border: rgba(0,0,0,0.08);
  --color-light-gray: #f4f4f4;
  --color-white: #FFFFFF;
  --font-heading: 'Merriweather', serif;
  --font-text: 'Helvetica', sans-serif;
  font-size: 18px;
  --spacing: 1.78rem;
  --spacing-xs: .75rem;
  --spacing-s: 1rem;
  --spacing-m: 1.25rem;
  --spacing-l: calc(1.5 * var(--spacing));
  --spacing-xl: calc(1.75 * var(--spacing));
  --shadow: 0px 12px 1rem -10px rgba(0,0,0,0.08);
  --shadow-btn: 0px 6px .5rem -4px rgba(0,0,0,0.08);
}

body {
  color: var(--color-black);
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--font-text);
}

a {
  display: inline-block;
  color: var(--color-black-light);
  text-decoration: none;
}

:focus:not(:focus-visible) {
  outline: none;
}
:focus-visible {
  outline: 4px solid var(--color-black);
  outline-offset: 2px;
}

.skiplink {
  position: absolute;
  top: 8px;
  left: 8px;
  background: var(--color-black);
  padding: 1.5rem 2rem 1.2rem;
  color: var(--color-white);
  font-weight: 700;
  line-height: 1;
}

.skiplink:not(:focus) {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  font-weight: 100;
  color: var(--color-black-light)
}

.page-title {
  font-size: 3.56rem;
  line-height: 1.25;
}

.page-header, #content {
  max-width: 1280px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: calc(.6 * var(--spacing)) var(--spacing);
  align-items: center;
  border-bottom: 1px solid var(--color-gray);
  margin-bottom: 1.5rem;
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255,.85);
  backdrop-filter: blur(.75rem);

}

.page-header nav a:not(.btn-primary,.btn-secondary) {
  font-size: 0.7rem;
}
.page-header a:hover {
  text-decoration: underline;
}

.page-header h1 {
  font-size: 1.1rem;
  font-weight: 400;
}

.page-header nav ul {
  display: flex;
  gap: calc(0.875 * var(--spacing));
  align-items: center;
}

.page-header nav li {
  list-style: none;
  align-items: center;
}

.page-header .group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 72px;
  height: 72px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.btn-primary,
.page-header .btn-secondary {
  padding: 12px 17px 11px 17px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 700;
}

.btn-primary {
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn-secondary {
  padding: 8px 12px 7px 12px;
  background-color: white;
  color: var(--color-metadata);
  border-radius: 4px;
  font-size: 0.725rem;
  font-weight: 700;
  outline: 1px solid var(--color-border);
}

.btn-mobile img {
  width: 24px;
  height: 24px;
}

.btn-mobile {
  align-items: center;
  display: flex;
}

p.last-updated {
  font-size: 0.625rem;
  margin: 0 var(--spacing);
  font-family: monospace;
  color: var(--color-metadata);
}

.homepage-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-l);
  margin: var(--spacing);
}
.homepage-content .section-title {
  margin-bottom: var(--spacing);
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-gray);
  text-transform: uppercase;
  font-size: 1rem;
}
/* .homepage-content .section-title::after {
  content: " ";
  display: block;
  margin-top: calc(0.5 * var(--spacing));
  border-bottom: 1px solid;
} */
.recent-content {
  grid-column: span 2;
}
.recent-content .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-m);
}
.popular-content .card-container{
  display: flex;
  gap: var(--spacing-m);
  flex-direction: column;
}
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.homepage-content .card {
  padding-bottom: var(--spacing-m);
  border-bottom: 1px solid var(--color-gray);
}
.card-featured {
  grid-column: span 2;
  width: 100%
}
.card-featured .featured-tag {
  order: -1;
  background-color: var(--color-gray);
  border: 1px solid var(--color-border);
  align-self: flex-start;
  padding: 6px 12px 3px 12px;
  font-size: 0.675rem;
  text-transform: uppercase;
  border-radius: 50px;
  margin-bottom: 0.75rem;
}
.card .card-title {
  font-size: 1.33rem;
  line-height: 1.25;
}
.card .card-title a:hover {
  text-decoration: underline;
}
/*.popular-content .card:first-of-type .card-title {
  font-size: 2rem;
}*/
.card-featured .card-title {
  font-size: 2.67rem;
}
.card .card-meta {
  font-size: 0.675rem;
  margin: 0.5rem 0 .75rem 0;
  font-family: monospace;
  color: var(--color-metadata);
}
.card .card-teaser {
  font-size: .875rem;
  line-height: 1.6;
}
.card .btn-secondary {
  width: fit-content;
  margin-top: var(--spacing-xs);
  box-shadow: var(--shadow-btn);
}

.donation-banner {
  border-radius: 4px;
  background: var(--color-light-gray);
  padding: calc(var(--spacing-s) * 1.125) var(--spacing-m) var(--spacing-m) var(--spacing-m);
  margin-bottom: var(--spacing-l);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow);
}
.banner-text {
  margin: calc(0.35 * var(--spacing)) 0 calc(0.5 * var(--spacing)) 0;
  font-size: .825rem;
  line-height: 1.6;
}
.donation-banner h2 {
  font-size: 1.25rem;
}

/* Single page specific CSS */
.single-page {
  max-width: 1012px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.single-page > .post-content {
  grid-column: span 2;
  padding-right: var(--spacing);
}

.post-content .post-meta {
  font-size: 0.9rem;
  margin: 0.45rem 0 0.75rem;
  font-family: monospace;
}

.post-content p {
  margin-bottom: 1rem;
}

.post-content h3, h4 {
  margin: 0.8rem 0;
}

.single-page > .related-posts {
  border-left: 1px solid var(--color-gray);
  padding-left: var(--spacing);
}
.single-page > .related-posts > .card-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}
.related-posts .section-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: calc(0.75 * var(--spacing));
}

@media only screen and (max-width: 768px) {
  .homepage-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .homepage-content .card {
    grid-column: span 2;
  }

  .popular-content {
    grid-column: span 2;
  }
}
