* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s;
}

:root {
  --color-black: #222;
  --color-black-light: #333333;
  --color-gray: #f2f2f2;
  --color-metadata: #595959;
  --color-border: rgba(0,0,0,0.1);
  --color-light-gray: #f4f4f4;
  --color-white: #FFFFFF;
  --font-heading: 'Merriweather', serif;
  --font-text: 'Atkinson Hyperlegible', sans-serif;
  font-size: 18px;
  --spacing: 1.78rem;
  --spacing-xs: .75rem;
  --spacing-s: 1rem;
  --spacing-m: 1.25rem;
  --spacing-l: calc(1.5 * var(--spacing));
  --spacing-xl: calc(1.75 * var(--spacing));
  --shadow: 0px 12px 1rem -10px rgba(0,0,0,0.08);
  --shadow-btn: 0px 6px .5rem -4px rgba(0,0,0,0.08);
}

body {
  color: var(--color-black);
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--font-text);
  overflow-x: hidden;
}

a {
  display: inline-block;
  color: var(--color-black-light);
  text-decoration: none;
}

:focus:not(:focus-visible) {
  outline: none;
}
:focus-visible {
  outline: 4px solid var(--color-black);
  outline-offset: 2px;
}

.background {
  background-color: #333;
  position: absolute;
  height: 25vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: rotate(-5deg) scale(4);
}

.skiplink {
  position: absolute;
  top: 8px;
  left: 8px;
  background: var(--color-black);
  padding: 1.5rem 2rem 1.2rem;
  color: var(--color-white);
  font-weight: 700;
  line-height: 1;
}

.skiplink:not(:focus) {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
  font-weight: 100;
  color: var(--color-black-light)
}

.page-title {
  font-size: 3rem;
  line-height: 1.25;
}

.page-header, #content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}
#content {
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: calc(.6 * var(--spacing)) var(--spacing);
  align-items: center;
  margin-bottom: .5rem;
}
.page-header > nav {
  display: flex;
  flex-direction: row;
}
.page-header nav a:not(.btn-primary,.btn-secondary) {
  font-size: 0.825rem;
  color: white;
}
.page-header a:hover {
  text-decoration: underline;
}

.page-header h1 {
  font-size: 1.25rem;
  font-weight: 400;
  color: white;
}

.page-header h1 a {
  color: white;
}

.page-header nav ul {
  display: flex;
  gap: calc(var(--spacing-l) * .9);
  align-items: center;
}

.page-header nav li {
  list-style: none;
  align-items: center;
}
.page-header .group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}
.logo {
  width: 72px;
  height: 72px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.btn-primary,
.page-header .btn-secondary {
  padding: 12px 17px 11px 17px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 700;
}

.btn-primary {
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn-secondary {
  padding: 8px 12px 8px 12px;
  background-color: white;
  color: #494949;
  border-radius: 4px;
  font-size: 0.825rem;
  font-weight: 700;
  border: 1px solid #494949;
}

.page-header .btn-secondary {
  background-color: rgba(0,0,0,0);
  outline: 2px solid white;
  color: white;
  padding: 10px 14px 10px 14px;
}

.page-header .btn-primary {
  background-color: rgba(255,255,255,1);
/*  outline: 2px solid white;*/
  color: var(--color-black);
  padding: 10px 14px 10px 14px;
  font-size: .875rem;
}
.btn-mobile img {
  width: 24px;
  height: 24px;
  filter:invert(1);
}
.page-header nav .btn-mobile {
  display: none;
  background-color: transparent;
  border: none;
}
/*.btn-mobile {
  align-items: center;
  display: flex;
}*/

p.last-updated {
  font-size: 0.625rem;
  margin: 0;
  font-family: monospace;
  color: var(--color-metadata);
  color: white;
}

.homepage-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-xs);
  margin: var(--spacing) 0;
}
.homepage-content .section-title {
  margin-bottom: var(--spacing);
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
  font-size: 1.25rem;
  font-family: var(--font-text);
  font-weight: 700;
}

.popular-content {
  background-color: rgba(255,255,255,1);
  padding: 2rem;
  border-radius: 4px;
}
.popular-content .card .card-teaser {
  font-size: .8125rem;
  line-height: 1.6;
}
.popular-content .section-title {
  margin-bottom: var(--spacing-xs);
}

.recent-content {
  grid-column: span 2;
  background-color: rgba(255,255,255,1);
  padding: 2rem;
  border-radius: 4px;
}
.recent-content .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-m);
}
.card-container{
  display: flex;
  gap: var(--spacing-xs);
  flex-direction: column;
}
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card {
  padding-bottom: var(--spacing-m);
  border-bottom: 1px solid var(--color-border);
}
.card-featured {
  grid-column: span 2;
  width: 100%;
  border-bottom: ;
}
.card-featured .featured-tag {
  order: -1;
  background-color: var(--color-gray);
  border: 1px solid var(--color-border);
  align-self: flex-start;
  padding: 6px 12px 6px 12px;
  font-size: .675rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  margin-bottom: 0.75rem;
  color: rgba(0,0,0,0.7);
}
.card .card-title {
  font-size: 1.33rem;
  line-height: 1.25;
  margin-bottom: .25rem;
}
.card .card-title a:hover {
  text-decoration: underline;
}
.card-featured .card-title {
  font-size: 2.67rem;
}
.card .card-meta {
  font-size: 0.675rem;
  margin: 0.5rem 0 .75rem 0;
  font-family: monospace;
  color: var(--color-metadata);
}
.card .card-teaser {
  font-size: .875rem;
  line-height: 1.6;
}
.card .btn-secondary {
  width: fit-content;
  margin-top: var(--spacing-xs);
}

.donation-banner {
  border-radius: 4px;
  background: rgba(245,245,245,.7);
  backdrop-filter: blur(3rem);
  padding: calc(var(--spacing-s) * 1.5) var(--spacing-m) calc(var(--spacing-s) * 1.5) var(--spacing-m);
  margin: var(--spacing-s) 0;
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow);
  grid-column: span 2;
}
.donation-banner p {
  margin: 0 0 calc(0.5 * var(--spacing)) 0;
  font-size: .875rem;
  line-height: 1.8;
  font-family: 'Merriweather';
}
.donation-banner h2 {
  font-size: 1.75rem;
  font-family: var(--font-text);
  font-weight: 700;
  margin-bottom: var(--spacing-s);
}

/* Single page specific CSS */
.single-page {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  padding: 2rem;
  border-radius: 4px;
}

.single-page > .post-content {
  grid-column: span 2;
  padding-right: var(--spacing);
}

.post-content .post-meta {
  font-size: 0.75rem;
  margin: 0.45rem 0 0.75rem;
  font-family: monospace;
  color: var(--color-metadata);
}

.post-content p {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.6rem;
}

.post-content h2, h3, h4 {
  margin: 0.8rem 0;
}

.single-page > .related-posts {
  border-left: 1px solid var(--color-border);
  padding-left: var(--spacing);
}
.single-page > .related-posts > .card-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.related-posts .section-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: calc(0.75 * var(--spacing));
}

@media only screen and (max-width: 1440px) {
  .page-header, 
  #content {
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
  }

  .recent-content,
  .popular-content {
    padding: calc(var(--spacing-m) * 1.25);
  }
}

@media only screen and (max-width: 960px) {
  .page-header nav ul {
    display: none;
  }

  .page-header nav .btn-mobile {
    display: inherit;
  }

  .page-header h1 {
    font-size: 1.125rem;
  }

  .card-featured .card-title {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 1024px) {
  .homepage-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .homepage-content .card {
    grid-column: span 2;
  }

  .popular-content {
    grid-column: span 2;
  }

  .page-header, 
  #content {
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
  }

  .recent-content,
  .popular-content {
    padding: calc(var(--spacing-m) * 1.125);
  }

  .page-header h1 {
    font-size: 1rem;
  }
}


@media only screen and (max-width: 640px) {
  #content {
    padding-left: calc(var(--spacing-xs) * .75);
    padding-right: calc(var(--spacing-xs) * .75);
  }

  .recent-content,
  .popular-content {
    padding: calc(var(--spacing-m) * 1);
  }

  .card-featured .card-title {
    font-size: 2rem;
  }

  p.last-updated {
    padding: 0 var(--spacing-xs);
  }
}
