{{ define "main" }}
<div class="single-article-page">
  <article class="post-content">
    <h2 class="page-title">{{ .Title }}</h2>
    <p class="post-meta">
      <time>{{ .Lastmod.Format "2006-01-02" }}</time>
    </p>
    {{ with .Param "info" }}
      {{ partial "metainfo.html" . }}
    {{ end }}
    {{ .Content }}
  </article>
  <aside class="related-posts">
    <h2 class="section-title">Related Articles</h2>
    <div class="card-container">
    {{ range .Site.Pages.RelatedIndices . "categories" | first 5 }}
      {{ .Render "summary-card" }}
    {{ end }}
    </div>
  </aside>
</div>
{{ end }}
