<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Distributed Denial of Secrets{{ if ne .Title "homepage" }} - {{.Title }} {{ end }}</title>

<link rel="stylesheet" href="{{ "css/styles.css" | absURL }}">

<meta name="description" content="Page description">
<link rel="canonical" href="https://scidsg.github.io/ddosecrets-redesign/">

<link rel="icon" href="favicon.ico">
<link rel="icon" href="favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="manifest" href="my.webmanifest">
<meta name="theme-color" content="#FF00FF">
