<header class="page-header">
  <a href="#content" class="skiplink">Skip to content</a>
  <div class="group">
    <img class="logo" src="{{ "images/logo.png" | absURL }}">
    <h1 class="nav-header">
      <a href="{{ "" | absURL }}">Distributed Denial of Secrets</a>
    </h1>
  </div>
  <nav>
    <button class="btn-mobile" aria-label="Expand mobile navigation" aria-expanded="false"><img src="images/menu.png"></button>
    <ul>
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        <li><a href="">Tools of the Trade</a></li>
        <li><a href="">Submit Documents</a></li>
        <div class="btn-group">
          <li><a href="https://ddosecrets.charity" class="btn-primary" target="_blank" rel="noopener noreferrer">Donate Now</a></li>
        </div>
      {{ end }}
    </ul>

  </nav>
</header>
