{{ define "main" }}
  <p class="last-updated">Last updated: {{ .Lastmod.Format "02 Jan 2006, 15:04 UTC" }}</p>
  <div class="homepage-content">
    <div class="recent-content">
      <div class="donation-banner">
        <h2 class="banner-title">🎁 Support Our Mission!</h2>
        <p class="banner-text">
          DDoSecrets can’t do this work alone. By supporting DDoSecrets, you’re supporting transparency efforts and journalism projects across the globe. 
        </p>
        <a href="" class="btn-primary">Donate Now</a>
      </div>
      <h2 class="section-title">New & Updated</h2>
      <div class="card-container">
      {{ range (where .Site.Pages "Section" "releases") }}
        {{ range (where .Pages.ByLastmod.Reverse "Params.popular" "!=" true) }}
          {{ if .Params.featured }}
          {{ .Render "summary-featured" }}
          {{ else }}
          {{ .Render "summary-card" }}
          {{ end }}
        {{ end }}
      {{ end }}
      </div>
    </div>
    <div class="popular-content">
      <h2 class="section-title">Popular</h2>
      <div class="card-container">
      {{ range (where .Site.Pages "Section" "releases") }}
        {{ range (where .Pages.ByLastmod.Reverse "Params.popular" true) }}
          {{ .Render "summary-card" }}
        {{ end }}
      {{ end }}
      </div>
    </div>
  </div>
{{ end }}