{{ define "main" }}
  <p class="last-updated">Last updated: {{ .Lastmod.Format "02 Jan 2006, 15:04 UTC" }}</p>
  <div class="homepage-content">
    <div class="recent-content">
      <div class="donation-banner">
        <h2 class="banner-title">Support Our Mission!</h2>
        <p class="banner-text">
          Pellentesque laoreet convallis justo, non bibendum elit pretium at.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra
          nulla sed urna dapibus, at placerat.
        </p>
        <a href="" class="btn-primary">Donate Now</a>
      </div>
      <h2 class="section-title">New & Updated</h2>
      <div class="card-container">
      {{ range (where .Site.Pages "Section" "releases") }}
        {{ range (where .Pages.ByLastmod.Reverse "Params.popular" "!=" true) }}
          {{ if .Params.featured }}
          {{ .Render "summary-featured" }}
          {{ else }}
          {{ .Render "summary-card" }}
          {{ end }}
        {{ end }}
      {{ end }}
      </div>
    </div>
    <div class="popular-content">
      <h2 class="section-title">Popular</h2>
      <div class="card-container">
      {{ range (where .Site.Pages "Section" "releases") }}
        {{ range (where .Pages.ByLastmod.Reverse "Params.popular" true) }}
          {{ .Render "summary-card" }}
        {{ end }}
      {{ end }}
      </div>
    </div>
  </div>
{{ end }}